<div class="container">
  <h1>Pets</h1>
  <%= link_to "Add", new_pet_path, class:"btn btn-outline-primary" %>
  <% @pets.each do |pet| %>
    <h2><%= pet.name %></h2>
    <p><%= pet.address %></p>
    <p><%= pet.species %></p>
    <p>Lola was found <%= pet.found_days_ago %> ago</p>
    <%= link_to 'voir', pet_path(pet), class:"btn btn-primary" %>
    <%= link_to 'Supprimer', pet_path(pet), method: :delete, data: { confirm: "Are you sure ?"}, class:"btn btn-danger" %>
  <% end %>
</div>


